{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link govuk-link--no-visited-state" href="#">give your feedback by email</a>.'
}) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-2">15 Garden Drive, Luton LU1 1AB</h1>
        <p class="govuk-body-m">
              Case number:
              1234 1234 1234 1234
          </p>
    </div>

      <div class="govuk-grid-column-two-thirds">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-2" style="border: 2px solid #1d70b8;">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">
              A judge has asked you to leave 15 Garden Drive, Luton, LU1 1AB by 1 June 2025.
            </p>
            <p>You can leave the property, or you can pay a fee and:
              </p>
              <ol class="govuk-list govuk-list--number">
                <li class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#">Ask the judge for more time to find a new home</a></li>
                <li class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#">Ask the judge to cancel the order</a>
                  <br>For example, if you could not attend court or did not know about the hearing.</li>
                <li class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#">Appeal the judge’s decision</a>
                  <br>For example, if you can show that the decision was wrong because of a serious mistake, or if the legal process was not followed properly.</li>
              </ol>
              <p class="govuk-body">
                You should get legal advice before you apply, and you may not be successful.
              </p>
          </div>
        </div>

        <h2 class="govuk-heading-m">The claim against you</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-1-status">
                View the claim
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-1-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                View Luton Housing Association’s contact details
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-5">Your response</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="prepare-application-2-status">
                View your response to the claim
              </a>
            </div>
            <div class="govuk-task-list__status" id="prepare-application-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="prepare-application-2-status">
                View your contact details
              </a>
            </div>
            <div class="govuk-task-list__status" id="prepare-application-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                Your support
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Court hearings</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-1-status">
                View the hearing
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-1-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                Upload hearing documents
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                Add hearing arrangements
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                View documents
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                View the bundle
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Documents from the court</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                View the judge’s decisions
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-1-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                View the order for you to leave the property
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-1-status">
              <strong class="govuk-tag govuk-tag--blue">
                Available
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Ask the court to do something</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                Ask the judge for more time to find a new home
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-1-status">
              <strong class="govuk-tag govuk-tag--blue">
                Optional
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                Ask the judge to cancel the order
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-1-status">
              <strong class="govuk-tag govuk-tag--blue">
                Optional
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                Appeal the judge’s decision
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-1-status">
              <strong class="govuk-tag govuk-tag--blue">
                Optional
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                Ask the court to make a change to my case
              </a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-1-status">
              <strong class="govuk-tag govuk-tag--blue">
                Optional
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="before-you-start-2-status">
                View all applications
              </a>
            </div>
            <div class="govuk-task-list__status" id="prepare-application-1-status">
              Not available yet
            </div>
          </li>
        </ul>
      </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-2" style="border: 2px solid #1d70b8;">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">I want to...
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-1">
       <a class="govuk-link govuk-link--no-visited-state" href="">
        Add a legal representative
       </a>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-1">
        <a class="govuk-link govuk-link--no-visited-state" href="">
        Get free help from a legal adviser
       </a>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-1">
        <a class="govuk-link govuk-link--no-visited-state" href="">
         Inform the court of a breathing space debt respite
        </a>
      </p>

  <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Help and support</h2>
   <p class="govuk-body govuk-!-margin-bottom-1">
     <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/get-help-with-court-fees">
    Help with fees
    </a>
   </p>

   <p class="govuk-body govuk-!-margin-bottom-1">
     <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/a-guide-to-civil-mediation">
    Find out about mediation
    </a>
   </p>

   <p class="govuk-body govuk-!-margin-bottom-1">
     <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/what-to-expect-coming-to-a-court-or-tribunal">
     What to expect at a hearing
    </a>
   </p>

   <p class="govuk-body govuk-!-margin-bottom-1">
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/represent-yourself-in-court">
    Represent myself at a hearing
 </a>
   </p>

   <p class="govuk-body govuk-!-margin-bottom-1">
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/find-legal-advice">
    Find legal advice
    </a>
   </p>

   <p class="govuk-body govuk-!-margin-bottom-1">
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/find-court-tribunal">
    Find information about my court
   </a>
   </p>

   <details id="contact-us-for-help" class="govuk-details govuk-!-margin-top-3">
     <summary class="govuk-details__summary">
       <span class="govuk-details__summary-text">
         Contact us for help
       </span>
     </summary>
     <div class="govuk-details__text">


     <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>

     <p class="govuk-!-margin-top-0">
       <a target=_self href=mailto:contactocmc@justice.gov.uk rel="noopener noreferrer">contactocmc@justice.gov.uk
       </a></p>

     <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Telephone
      </h3>
       <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-1">0300 123 7050
         </p>
       <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-1">Monday to Friday, 8.30am to 5pm.
         </p>
      <p class="govuk-!-margin-top-0">
         <a target=_blank class="" href=https://www.gov.uk/call-charges rel="noopener noreferrer">Find out about call charges (opens in a new tab)
         </a>
      </p>

    </details>

    </div>
  </div>
</div>
{% endblock %}
